identities:
- name: gcp
  gcp:
    # A base64-encoded service account key used to report usage to
    # Google Service Control.
    encodedServiceAccountKey: $AGENT_ENCODED_KEY
metrics:
- name: redislabs.mp-redislabs-public.appspot.com/$NODE_TYPETIME
  type: int
  endpoints:
  - name: servicecontrol
  aggregation:
    bufferSeconds: 60
endpoints:
- name: servicecontrol
  servicecontrol:
    identity: gcp
serviceName:
- name: servicecontrol
 servicecontrol:
   identity: gcp
   serviceName: redislabs.mp-redislabs-public.appspot.com 
   consumerId: $AGENT_CONSUMER_ID
sources:
- name: redislabs.mp-redislabs-public.appspot.com/$NODE_TYPETIME
  heartbeat:
    metric: redislabs.mp-redislabs-public.appspot.com/$NODE_TYPETIME
    intervalSeconds: 60
    value:
      int64Value: 60
    labels:
      auto: true
